<html>
<head>
<title>js sample</title>
<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $("input:button").click(function(){
      alert("Hello World")
      $.ajax(
      'https://pythontest888.herokuapp.com:443/callback',
      {
        type: "POST",
        data:{},
      });
    });
  });
</script>
</head>
  <body>
  <form id="post_form" action="#" method="POST">
    <input type="button" value="ここを押してね">
  </form>
  </body>
</html>
